.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ed01;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.category-wrapper {
  margin-bottom: 2em;
  color: #73db5c;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cf2e;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.bottom {
  margin-top: 130px;
}

.btn-dark {
  color: #73db5c;
}

.card img {
  margin: 30px 20px 0 0;
}
