body {
    /* background-color: #343a40; */
    background-color: #20232a;

    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: "Merriweather", serif;
}