body {
  /* background-color: #343a40; */
  background-color: #20232a;

  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: "Merriweather", serif;
}

h3 {
  margin: 1em;
}

.carousel {
  margin-bottom: 3em;
}

.category-pic {
  width: 70%;
  margin-bottom: 1em;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #73db5c;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #81ed46;
  margin: 20px 0 30px;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #2d3436;
  width: 120px;
  height: 120px;
}

.info {
  margin: 20px 0;
  color: #1a7e76;
}

.page-title {
  text-align: center;
  font-family: "Merienda", cursive;
  color: #81ed46;
  padding-top: 20px;
}
