.nav-item {
  font-size: 2rem;
}

.navbar-brand {
  color: #73db5c !important;
}

.navbar-collapse {
  color: #73db5c !important;
}

.nav-link {
  color: #73db5c !important;
}

.navbar a:hover {
  background: #73db5c;
  color: #343a40 !important;
}

.custom-navbar-container {
  margin-bottom: 2em;
  margin-top: 5px;
}
